@import 'header';
@import 'footer';

* {
    box-sizing: border-box;
}

body {
    >div {
        display: flex;
        flex-direction: column;

        >*:nth-child(2) {
            min-height: calc(100vh - #{$header-height});
        }
    }
}

a {
    cursor: pointer;
}
