@import 'main';

#content {
    flex: 1 0 auto;
    padding-left: $horizontal-padding-news;
    padding-right: $horizontal-padding-news;
    padding-top: $vertical-padding - 1.3em;
    padding-bottom: $vertical-padding - 1.5em;
}

#title {
    font-family: $title-font-family;
    font-size: 30px;
}

#article-content {
    margin-top: 50px;
    font-size: 20px;
}

#content a {
    color: $primary-color;
    text-decoration: none;
}

#content a:hover {
    color: $tertiary-color;
}

pre {
    margin: 20px;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
    font-family: $code-font-family;
    font-size: 17px;
    overflow: auto;
}

@media screen and (max-width: $mobile-interface-thresold) {
    pre {
        margin: 0px;
    }

    #content {
        padding-left: $horizontal-padding-news - 10%;
        padding-right: $horizontal-padding-news - 10%;
    }
}

pre > * {
    font-style: normal !important;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #CCCCCC;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}