@import 'standard-layout';
@import 'colors';
@import 'responsive';

#content > section.article-content {
    padding: 4rem 0;

    * {
        padding: 0;
        margin: 0;
    }

    @include mobile {
        > * {
            padding: 0 2rem;
        }
    }

    p {
        margin: 0 0 1rem 0;
    }

    pre {
        margin: 0rem 2rem 1rem 2rem;
        padding: .5rem;

        @include mobile {
            border-radius: 0;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 3rem 0 .5rem 0;
        margin: 0;
    }

    ul {
        padding: 0;
        margin: 1rem 0 0 3rem;

        @include mobile {
            padding: 0 2rem;
        }
    }
}