@import 'main';
@import 'standard-layout.scss';

$spacing: 20px;
$hw-accel: translate3d(0, 0, 0);
$transition-time: 0.2s;

#content > div:nth-child(even) {
    background-color: unset;
}

#content div.projects {
    max-width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: $spacing 0;
    box-sizing: border-box;

    >a {
        width: 100%;
        height: 200px;
        max-width: 500px;
        overflow: hidden;
        position: relative;
        display: block;
        border-radius: 20px;
        // box-shadow: 0 3px 20px 0 rgba($secondary-color, 0.7);
        margin: $spacing;
        padding: 20px;
        box-sizing: border-box;
        text-decoration: none;
        color: white;

        >h2, >div {
            position: relative;
            z-index: 2;
            opacity: 1;
            transition: opacity $transition-time;
        }

        >h2 {
            margin: 0;
            margin-bottom: 10px;
        }

        >div {
            line-height: 1.5em;
        }

        >img {
            width: 500px;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 50%;
            margin: auto;
            margin-left: -250px;
            transition: transform $transition-time ease-in-out;
            transform: $hw-accel;
        }

        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background-image: url("/assets/grid.png");
            background-repeat: repeat;
            background-color: rgba(black, 0.4);
            z-index: 1;
            opacity: 1;
            transition: opacity $transition-time;
        }

        &:hover, &:focus {
            >h2, >div {
                opacity: 0;
            }

            >img {
                transform: scale(1.1) $hw-accel;
            }

            &:before {
                opacity: 0;
            }
        }
    }
}
