@import 'utils';

#footer {
    background-color: $footer-color;
    color: white;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding-bottom: $vertical-padding;
    flex-shrink: 0;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    text-decoration: none;
    color: lightgray;
}

#footer-menu {
    padding-left: $horizontal-padding-footer;
    padding-right: $horizontal-padding-footer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-menu>div {
    padding-top: $vertical-padding;
    width: 100%;
    text-align: center;
}

#footer-menu>div:not(:last-child) {
    margin-right: 5%;
}

.footer-title {
    font-family: $title-font-family;
    font-size: 18px;
}

#footer-disclaimer {
    margin-top: 10px;
    border: 1px solid white;
    padding: 4px 6px 4px 6px;
    width: auto;
    display: inline-block;
}

@media screen and (max-width: $mobile-interface-thresold) {
    #footer-menu {
        flex-direction: column;
    }
    #footer-menu>div:not(:last-child) {
        margin-right: 0px;
    }
}