@import 'utils';

#header {
    .left-icon {
        margin-right: 3px;
    }
    .right-icon {
        margin-left: 3px;
    }
}

#header-bar {
    @include vendor-prefix(user-select, none);
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    background-image: url("/assets/header-banner.svg");
    background-size: cover;
    background-position: left;
    line-height: 50px;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: $horizontal-padding-header;
    padding-right: $horizontal-padding-header;
    height: 50px;
    overflow: hidden;
}

#header-logo {
    margin-right: 5px;
    height: 50px;
    width: 50px;
    filter: drop-shadow(2px 2px 2px black) drop-shadow(-2px -2px -2px black);
    transition: all 0.1s ease-in;
}

#header-title {
    vertical-align: top;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: $title-font-family;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: all 0.15s ease-in;
}

#header-title:hover {
    text-shadow: 1px 0px 20px white;
}

#header-menu {
    vertical-align: top;
    text-align: right;
}

.header-button {
    background-color: $header-button-color;
    color: white;
    margin-left: 20px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-button:hover {
    background-color: $header-button-hover-color;
}

#header-menu-alt {
    display: none;
}

#header-burger {
    display: none;
}

.header-button-alt {
    display: none;
}

@media screen and (max-width: $mobile-interface-thresold) {
    .desktop {
        display: none;
    }
    #header-burger {
        display: initial;
        cursor: pointer;
    }
    .header-button-alt {
        background-color: rgba(243, 243, 243, 0.911);
        color: black;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $secondary-color;
        text-align: center;
        display: initial;
    }
    .header-button-alt:hover {
        background-color: rgba(216, 214, 214, 0.911);
    }
}