# Unwanted files
amethyst
amethyst_dev
build
Cargo.lock
cobalt.rs
mdBook
target

# ignore all files in the /src/doc/ subfolder
/src/doc/*
# except index.html
!/src/doc/index.html

# semantic ui
node_modules

# jekyll
_site
.sass-cache
.jekyll-metadata
Gemfile
Gemfile.lock

# Backup files
.DS_Store
*~
*.rs.bk
*.swp
thumbs.db
