# Unwanted files
amethyst
amethyst_dev
build
gutenberg
gutenberg.tar.gz
Cargo.lock
cobalt.rs
mdBook
/src/target
/src/doc/
/src/book/
/src/public
/book/

# semantic ui
node_modules

# jekyll
_site
.sass-cache
.jekyll-metadata
Gemfile
Gemfile.lock

# Backup files
.DS_Store
*~
*.rs.bk
*.swp
thumbs.db
