# Unwanted files
amethyst
amethyst_dev
build
Cargo.lock
cobalt.rs
mdBook
target

# semantic ui
node_modules

# jekyll
_site
.sass-cache
.jekyll-metadata

# Backup files
.DS_Store
*~
*.rs.bk
*.swp
thumbs.db
