/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #373737;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.site-wrapper-inner {
  vertical-align: top;
}

.inner,
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 25px 0 10px 0;
}

/*
 * Post list
 */

.post-list {
  height: 300px;
}

/*
 * Header
 */
.masthead {
  background-color: #333;
  width: 100%;
}

.masthead-brand {
  margin-top: 0;
  margin-bottom: 10px;
}

.masthead-brand > img {
  width: 2.5em;
  padding: 0em 0.4em;
}

.masthead-nav {
  overflow: hidden;
  padding: 0em;
  height: 4.5em;
  list-style: none;
}

.masthead-nav > li {
  display: inline-block;
  width: 6em;
  float: left;
}

.masthead-nav > li > a {
  text-decoration: none;
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  -ms-transition: color .25s ease-out;
  transition: color .25s ease-out;
  outline: none;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  vertical-align: middle;
  text-align: center;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
}

.masthead-nav > li > a > hr {
  position: relative;
  height: 2px;
  bottom: 10px;
  background: #888;
  border: 0px;
  width: 0px;
  -webkit-transition: width .25s, background .25s;
  -moz-transition: width .25s, background .25s;
  -o-transition: width .25s, background .25s;
  -ms-transition: width .25s, background .25s;
  transition: width .25s, background .25s;
}

.masthead-nav > li > a:hover > hr,
.masthead-nav > li > a:focus > hr {
  width: 4em;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
}

.masthead-nav > .active > a > hr,
.masthead-nav > .active > a:hover > hr,
.masthead-nav > .active > a:focus > hr{
  background-color: #fff;
  width: 4em;
}


/*
 * Cover
 */

.banner {
  position: absolute;
  width: 100%;
  height: inherit;
  left: 0;
  right: 0;
  z-index: 0;
}

.cover-container {
  width: 100%;
  background-image: url("banner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0%;
}

.cover {
  z-index: 1;
  padding: 3em 0;
  text-shadow: #000 0px 0px 15px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: relative;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 840px) {
  .inner,
  .mastfoot,
  .cover {
    width: 700px;
  }

  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}
