{% extends "_shell.html" %}

{% block title %}{{ config.title }} - Contribute to the engine!{% endblock title %}

{% block css %}/contribute.css{% endblock css %}

{% block content %}
<main id="content">
    <section class="page-title">
        <div>
            <h1>Contributing</h1>
        </div>
    </section>

    <section class="contribute-text">
        <div class="section separated">
            <h4>We are a community project that welcomes contributions from anyone.</h4>

            <p>If you’re interested in helping out, please read the
                <a target="_blank" href="https://github.com/amethyst/amethyst/blob/master/docs/CONTRIBUTING.md">contribution guidelines</a>
                file before getting started.
            </p>
            
            <p>
                We have a
                <a target="_blank" href="https://github.com/amethyst/amethyst/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22">good first issue</a>
                category that groups all issues or feature requests that can be made without having an extensive knowledge of Rust or Amethyst. Working on those issues is a good, if not the best way to learn.
            </p>
            
            <p>
                If you think you are not ready to code yet, you can still contribute by reviewing code written by other members of the community. In fact, code reviews ensures that the code that gets added to Amethyst is of the highest quality as possible. Pull requests available for reviews are
                <a target="_blank" href="https://github.com/amethyst/amethyst/projects">here</a>.
            </p>

            <p>
                If for some reason we don’t have any open PR or good first issues (that would be a good thing), you can look through the
                <a target="_blank" href="https://github.com/amethyst/amethyst/issues">issue tracker</a>.
            </p>
        </div>
    </section>
</main>
{% endblock content %}
