{% extends "index.html" %}

{% block title %}{{ config.title }} - Docs{% endblock title %}

{% block css %}/doc.css{% endblock css %}

{% block content %}
    <div id="content">
        <div id="head">Documentation
            <div id="head-desc">This webside provides documentation for the master branch of Amethyst.</div>
        </div>
        <div id="container">
            <div id="master">
                <div class="branch-title master-title">master</div>
                <div class="branch-desc master-title">Stable release for the typical user.</div>
                <br>
                <br>
                <a href="/book/master" class="button button-master">Book</a>
                <br>
                <br>
                <br>
                <a href="/doc/master/doc/amethyst" class="button button-master">API References</a>
                <br>
                <br>
                <br>
                <a href="{{ config.extra.github_url_master_examples }}" class="button button-master">Examples</a>
                <br>
                <br>
                <br>
                <a href="{{ config.extra.github_url }}" class="branch-desc master-link">Available from the GitHub repository</a>
            </div>
            <div id="develop">
              <div class="branch-title develop-title">latest release</div>
              <div class="branch-desc develop-title">Latest release available on crates.io</div>
              <br>
              <br>
              <a href="/book/latest" class="button button-develop">Book</a>
              <br>
              <br>
              <br>
              <a href="/doc/latest/doc/amethyst" class="button button-develop">API References</a>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="{{ config.extra.crates_url }}" class="branch-desc develop-link">Available from crates.io</a>
            </div>
        </div>
    </div>
{% endblock content %}
