{% extends "_shell.html" %}
{% import "_logo-macros.html" as logo %}

{% block title %}{{ config.title }} - The open source, data-driven game engine{% endblock title %}

{% block css %}/landing-page.css{% endblock css %}

{% block content %}
<div id="content">
    <div class="page-title dark">
        <div>
            {{ logo::emblem(size=250, type="white") }}
            <h1>The Amethyst Game Engine</h1>
            <span class="subtitle">
                Data-driven game engine written in Rust
            </span>
            <a href="/doc">Learn</a>
            <a href="/blog">News</a>
            <a href="/contribute">Contribute</a>
            <a href="/donate">Donate</a>
        </div>
    </div>
    <div>
        <div class="section separated">
            <div>
                <h2>High Performance</h2>
                <p>
                    Amethyst uses a rigorous <a target="_blank" href="https://en.wikipedia.org/wiki/Entity%E2%80%93component%E2%80%93system">Entity Component System (ECS)</a> architecture to organize game logic. This abstracts away some of the parallelism work, allowing easier exploitation of multi-threading in games. The ECS is rich in features and very efficient, as it never does any memory locking while remaining entirely thread-safe. 
                </p>
            </div>
            <div>
                <img class="card" src="/assets/3d_example.jpg" alt="3D Example Screenshot">
            </div>
        </div>
    </div>
    <div>
        <div class="section separated reverse">
            <div>
                <h2>Built for 2D and 3D</h2>
                <p>
                    Amethyst uses <a href="https://github.com/gfx-rs/gfx" target="_blank">gfx-rs</a> to render graphics with OpenGL, and soon Vulkan and Metal. It is meant to be used for 2D and 3D, with various utilities for both types of games. It should be beginner friendly but also allow more advanced uses such as custom render passes and GLSL shaders. 
                </p>
            </div>
            <div>
                <img class="card" src="/assets/2d_example.jpg" alt="2D Example Screenshot">
            </div>
        </div>
    </div>
    <div>
        <div class="section separated">
            <div>
                <h2>A Stable Foundation</h2>
                <p>
                    Thanks to the <a target="_blank" href="https://www.rust-lang.org/">Rust programming language</a>, Amethyst uses all CPU cores to run its internals and logic. A lot of optimizations have yet to be done, but the current status is already showing great potential. 
                </p>
            </div>
            <div>
                <img class="card" src="/assets/rust_example.jpg" alt="Rust Example Code">
            </div>
        </div>
    </div>
    <div>
        <div class="section">
            <h2>Free with very permissive usage</h2>
            <p>
                Amethyst is open source and free software. You can use, read, modify, distribute its source code under the permissive <strong>MIT</strong> and <strong>Apache 2.0 licenses</strong>, and it is important to us that it remains that way. The strength of the community keeps Amethyst going forward, through the contributions of <a target="https://github.com/amethyst/amethyst/graphs/contributors" target="_blank">awesome people</a>. Come visit us on <a href="https://github.com/amethyst/amethyst" target="_blank">GitHub</a>! 
            </p>
        </div>
    </div>
    <div>
        <div class="section center">
            {{ logo::emblem(size=200) }}
            <h2>Get Started</h2>
            <p>
                You can easily get started using <a href="/book/master">our book guide</a> which
                goes throgh the basics of creating a game using Amethyst. If you need any help on
                the way, feel free to visit
                <a href="{{ config.extra.forums_url }}">our community forums</a> and
                <a href="{{ config.extra.discord_invite }}">our Discord server</a>!
            </p>
        </div>
    </div>
</div>
{% endblock content %}
