{% extends "_shell.html" %}
{% import "_logo-macros.html" as logo %}

{% block title %}{{ config.title }} - The open source, data-driven game engine{% endblock title %}

{% block css %}/landing-page.css{% endblock css %}

{% block content %}
<div id="content">
    <div class="page-title dark">
        <div>
            {{ logo::emblem(size=250, type="white") }}
            <h1>The Amethyst Game Engine</h1>
            <span class="subtitle">
                Data-driven game engine written in Rust
            </span>
            <a href="/doc">Learn</a>
            <a href="/blog">News</a>
            <a href="/contribute">Contribute</a>
            <a href="/donate">Donate</a>
        </div>
    </div>
    {% set page = get_page(path="landing-page.md") %}
    {{ page.content | safe }}
</div>
{% endblock content %}
