<!DOCTYPE html>
<html>
    <head>
        <!-- Social Site Meta Properties -->
        <meta property="og:title" content="Amethyst">
        <meta property="og:image" content="https://www.amethyst.rs/assets/amethyst.svg">
        <meta property="og:site_name" content="Amethyst">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:url" content="https://www.amethyst.rs/">
        <meta property="og:type" content="website">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="game,engine,data-oriented,data-driven,rust,amethyst">

        <title>{{ page.title }}</title>

        <link rel="shortcut icon" href="/assets/amethyst.ico" />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Rajdhani:700" rel="stylesheet"> 

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        {{ page.headers }}
    </head>

    <body class="site">
        <div class="ui following bar light fixed head">
            <div class="ui container">
                <div class="ui large secondary menu bar">
                    <!-- Header logo -->
                    <a class="header item" href="/">
                        <h3 class="ui medium header">
                            <img class="ui medium image" src="/assets/amethyst.svg" />
                            <div class="amethyst content">
                                Amethyst
                            </div> 
                        </h3> 
                    </a>

                    <a class="item" href="/doc/">
                        <i class="align left icon"></i>
                        <div class="text">Documentation</div>
                    </a>

                    <a class="item" href="/posts/">
                        <i class="newspaper icon"></i>
                        <div class="text">News</div>
                    </a>

                    <!-- Github link -->
                    <div class="ui right github item">
                        <a class="item" href="https://github.com/amethyst/amethyst">
                            <img class="ui image noselect" style="width:30px" src="/assets/mark-github.svg" />
                        </a>
                    </div>

                </div>
            </div>
        </div>

        {{ page.pre_contained }}
        <div class="ui main container">
            {{ content }}
        </div>

        <div class="ui black inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable center aligned inverted grid">
                    <div class="six wide center aligned column">
                        <h4 class="ui inverted header">Project</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="https://github.com/amethyst/amethyst">Github</a>
                            <a class="item" href="/doc/">Documentation</a>
                        </div>
                    </div>
                    <div class="six wide center aligned column">
                        <h4 class="ui inverted header">Community</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="/feed.xml">RSS Feed</a>
                            <a class="item" href="https://gitter.im/amethyst/general">Gitter Chat</a>
                        </div>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div clas="ui center aligned container">
                    This website and the Amethyst logo are licensed under a Creative Commons Attribution-ShareAlike 4.0 License.
                </div>
            </div>
        </div>
    </body>
</html>
