<!DOCTYPE html>
<html>
    <head>
      <!-- Social Site Meta Properties -->
      <meta property="og:title" content="Amethyst">
      <meta property="og:image" content="https://www.amethyst.rs/assets/amethyst.png">
      <meta property="og:site_name" content="Amethyst">
      <meta property="og:description" content="A data-oriented and data-driven game engine.">
      <meta property="og:url" content="https://www.amethyst.rs/">
      <meta property="og:type" content="website">

      <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

      <meta name="description" content="A data-oriented and data-driven game engine.">
      <meta name="keywords" content="game,engine,data-oriented,data-driven,rust,amethyst">
      {% if is_post %}
        <title>{{ title }}</title>
      {% else %}
        <title>Amethyst | Data-oriented and data-driven game engine</title>
      {% endif %}
      <link rel="icon" type="image/x-icon" href="/assets/amethyst.ico" />

	    <!-- Latest compiled and minified CSS -->
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      	<!-- Optional theme -->
     	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->
      <link rel="stylesheet" href="/css/gitter.css" />
      <link rel="stylesheet" href="/css/main.css" />
      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      	<!-- Latest compiled and minified JavaScript -->
     	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <link
        href="https://amethyst.rs/rss.xml"
        rel="alternate"
        type="application/rss+xml"
        title="Amethyst"
        />
    </head>
    <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">

        <div class="masthead clearfix">
          <div class="inner">
            <a href="/">
              <h3 class="masthead-brand"><img src="/assets/amethyst.svg">Amethyst</h3>
            </a>

            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home<hr /></a></li>
                <li><a href="/book">Book<hr /></a></li>
                <li><a href="/doc/amethyst/index.html">Docs<hr /></a></li>
                <li><a href="https://github.com/amethyst">GitHub<hr /></a></li>
              </ul>
            </nav>
          </div>
        </div>

        {% if is_post %}
          {% include "_layouts/post.liquid" %}
        {% else %}
          {{ content }}
        {% endif %}

      </div>
    </div>

    <div class="mastfoot">
      <!-- privacy stuff, back to top? -->
      <p class="license">This website and the Amethyst logo are licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 License.</a>
        <br />
        <div class="footer-list container">
          <a class="pull-left" href="https://github.com/amethyst/website">Source</a>
          <a class="pull-right" href="https://amethyst.rs/rss.xml">RSS</a>
        </div>
      </p>
    </div>

  <script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'amethyst/general',
        useStyles: false,
    };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

  </body>
</html>
