---
layout: default
---

<div class="ui center aligned vertical segment">
    <div class="ui horizontal branch menu">
        <div class="item"><strong>Branch</strong></div>

        <!-- Normal links for people without js enabled -->
        <a class="item active" href="/doc/master">master</a>
        <a class="item" href="/doc/develop">develop</a>
    </div>
</div>

<div class="ui center aligned vertical segment">
    <div class="ui left aligned container">
        <div class="ui header">Learn</div>
        <div class="ui list">
            <p>
                <a class="ui item" href="/book/{{ page.branch }}/html/index.html">The Amethyst Book</a>. 
                Describes how to use Amethyst along with various tutorials and in depth descriptions of the various modules.
            </p>
        </div>

        <div class="ui header">Documentation</div>
        <div class="ui list">
            <a class="ui item" href="/doc/{{ page.branch }}/doc/amethyst/index.html">API Reference</a>
        </div>
    </div>
</div>
