extends: default.liquid
---
<a href="/doc/master/amethyst/index.html">master</a>
<br />
<a href="/doc/develop/amethyst/index.html">develop</a>
<script>
$('li.active').removeClass('active');
$('li#doc').addClass('active');
</script>