---
layout: default
pre_contained: >
    <div class="hero image">
        <div class="hero container">
            <h1 class="ui inverted center aligned header">
                Amethyst is a data-oriented, data-driven game engine written in Rust.
            </h1>
            
            <div class="ui center aligned very relaxed grid" style="margin-top:20px;">
                <a class="ui wireframe column" href="/">
                    <div class="ui inverted center aligned header">Learn</div>
                </a>
                <a class="ui wireframe column" href="/">
                    <div class="ui inverted header">Install</div>
                </a>
            </div>
        </div>
    </div>
---
<div class="ui vertical stripe push segment">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="six wide left floated left aligned column">
            <h2 class="ui dividing header">
                <i class="middle aligned large newspaper icon"></i>
                <div class="content">
                    What's New?
                </div>
                <a class="spanning link" href="/posts/"></a>
            </h2>
            <div class="ui divided relaxed selection list">
                {% for post in site.posts %}
                <a class="item" href="{{ post.url }}">
                    <div class="content" href="{{ post.url}}">
                        <div class="news header">{{ post.title }}</div>
                        <div class="date description">
                            Published

                            {% assign d = post.date | date: "%-d" %} 
                            {% assign m = post.date | date: "%B" %} 

                            {% case m %}
                                {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                                {% when 'September' %}Sept.
                                {% else %}{{ post.date | date: "%b" }}.
                                {% endcase %}
                            {% case d %}
                                {% when '1' or '21' or '31' %}{{ d }}st
                                {% when '2' or '22' %}{{ d }}nd
                                {% when '3' or '23' %}{{ d }}rd
                                {% else %}{{ d }}th
                                {% endcase %}, 
                            {{ post.date | date: "%Y" }}
                        </div>
                        {% if post.small %}
                        <div class="post excerpt">
                            {{ post.small }}
                        </div>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="six wide right floated left aligned column">

        </div>

    </div>
</div>
