---
layout: default
pre_contained: >
    <div class="hero image">
        <div class="hero container">
            <h1 class="ui inverted center aligned header">
                Amethyst is a data-oriented game engine.
            </h1>
            <div class="ui center aligned grid" style="margin-top:20px;margin-right:0 !important;margin-left:0 !important;">
                <a class="ui wireframe column" href="/book/master/html/index.html">
                    <div class="ui inverted center aligned header">Learn</div>
                </a>
                <a class="ui wireframe column" href="https://crates.io/crates/amethyst">
                    <div class="ui inverted header">Install</div>
                </a>
            </div>
        </div>
    </div>
---
<div class="ui vertical stripe push segment">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="sixteen wide column">
            <div class="ui stackable very relaxed center aligned grid" style="padding:1.5em 0;">
                <div class="three wide column">
                    <img class="ui small centered image" src="/assets/gears-icon.png" />
                    <div class="ui large header">For Teams</div>
                    Scenes and configs are stored in easy to read text files.
                </div>

                <div class="three wide column">
                    <img class="ui small centered image" src="/assets/rust-logo.png" />
                    <div class="ui large header">For Performance</div>
                    Written entirely in Rust so it can utilize multithreading to its fullest.
                </div>

                <div class="three wide column">
                    <img class="ui small centered image" src="/assets/fork-logo.png" />
                    <div class="ui large header">For Community</div>
                    Completely open source under an MIT/Apache2 dual license.
                </div>
            </div>
        </div>

        <div class="ui sixteen wide column divider"></div>

        <div class="eight wide left aligned column">
            <h2 class="ui horizontal divider header">
                <i class="middle aligned large newspaper icon"></i>
                <div class="content">
                    What's New?
                </div>
            </h2>

            <div class="ui divided relaxed selection list">
                {% for post in site.posts %}
                <a class="item" href="{{ post.url }}">
                    <div class="content" href="{{ post.url}}">
                        <div class="news header">{{ post.title }}</div>
                        <div class="date description">
                            Published

                            {% assign d = post.date | date: "%-d" %}
                            {% assign m = post.date | date: "%B" %}

                            {% case m %}
                                {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                                {% when 'September' %}Sept.
                                {% else %}{{ post.date | date: "%b" }}.
                                {% endcase %}
                            {% case d %}
                                {% when '1' or '21' or '31' %}{{ d }}st
                                {% when '2' or '22' %}{{ d }}nd
                                {% when '3' or '23' %}{{ d }}rd
                                {% else %}{{ d }}th
                                {% endcase %},
                            {{ post.date | date: "%Y" }}
                        </div>
                        {% if post.small %}
                        <div class="post excerpt">
                            {{ post.small }}
                        </div>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
